@model NewsAnalyzer.Models.View.CommentsViewModel

<div class="card col-12 ">
    <div class="card-body">
        <p class="card-text">@Model.Text</p>
        <h6>@Model.CreateDate</h6>
    </div>
</div>