@model NewsAnalyzer.Models.View.NewsViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="col-sm-12 col-md-12 col-lg-12 ">
    <div>
        <span class="row justify-content-end"> @Model.NewsDate.ToString("dd-MM-yyyy H:m")</span>
        <div class="fit-image">
            @Html.Raw(Model.Body)
        </div>
    </div>
</div><div>
    <a asp-action="Index">Back to List</a>
</div>
