@model NewsAnalyzer.Models.View.NewsWithCommentsViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="col-sm-12 col-md-12 col-lg-12 ">
    <div>
        <span class="row justify-content-end"> @Model.NewsDate.ToString("dd-MM-yyyy H:m")</span>
        <div class="fit-image">
            @Html.Raw(Model.Body)
        </div>
    </div>
</div><div>
    <a asp-action="Index">Back to List</a>
</div>
<div class="row">
    <button id="comments-toggle" onclick="toggleComments('@Model.Id')" class="btn btn-primary col-sm-12">Display comments</button>
    <div id="comments-container" class="col-12" style="display:none">
        test
        @foreach (var comment in Model.Comments)
        {
            @Html.PartialAsync("CommentPartial", comment);
        }
    </div>
</div>

@section Scripts
{
    <script src="~/js/comments.js"></script>
    @*<script src="~/js/comments-jquery.js"></script>*@
}