@using NewsAnalyzer.HtmlHelpers
@model NewsAnalyzer.Models.View.NewsListWithPaginationInfo

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-action="Aggregate">Aggregate</a>
</p>

<div class="row justify-content-around">
    @foreach (var item in Model.NewsPerPage)
    {
        @await Html.PartialAsync("ShortPreview", item)
    }
</div>
<div class="btn-group">
    @Html.CreatePagination(Model.PageInfo, i => Url.Action("Index",
        new { page = i, sourceId = Model.NewsPerPage.FirstOrDefault()?.RssSourceId }))
</div>