@model NewsAnalyzer.Core.DataTransferObjects.CommentDto

<div class="card comment-card col-sm-12">
    <div class="card-body">
        <p class="card-text">@Model.Text</p>
        <h6>@Model.CreateDate.ToString("g") by @Model.UserName</h6>
    </div>
</div>